doctype html
html
  head
    title Book Review App
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
      h1 Book Review App
    main
      h2 Welcome to Book Review App!
      a(href="/books") View Book Reviews
      h3 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
